name: Delete GitHub Repo

on:
  workflow_dispatch:
    inputs:
      repo_name:
        description: "Repository name to delete"
        required: true



jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Delete repository
        run: |
          curl -i -X DELETE \
          -H "Authorization: Bearer ${{ secrets.PORT_SECRET_PAT }}" \
          -H "Accept: application/vnd.github+json" \
          https://api.github.com/repos/${{ github.actor }}/${{ inputs.repo_name }}