name: Delete GitHub Repo

on:
  workflow_dispatch:
    inputs:
      repo_name:
        required: true



jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      - name: Delete repository
        run: |
          curl -X DELETE https://api.github.com/user/repos/${{ github.actor }}/${{ inputs.repo_name }} \
          -H "Authorization: Bearer ${{ secrets.PORT_SECRET_PAT }}" \
          -H "Accept: application/vnd.github+json"